image:
  - Visual Studio 2017

build: off
skip_tags: true
stack: go 1.17
clone_folder: c:\gopath\src\github.com\jfrog\jfrog-client-go
environment:
  GOPATH: c:\gopath
  GOVERSION: 1.17
  GOROOT: c:\Program Files\Go
  # Added in order to prevent fetching the outdated dependencies versions from go cache.
  GOPROXY: direct
  GO111MODULE: on
  CGO_ENABLED: 0

  JFROG_CLI_RT_URL:
    secure: RIh0gGFDn2JAnLUEEqLsQnZ5H3XFWg1s+Qq8Z4i+Xu+FtQf6Tsu2AnfY4/6AaXJ8
  JFROG_CLI_RT_USER:
    secure: YEB5Wiv9a2vNpUhy+MfL+A==
  JFROG_CLI_RT_PASSWORD:
    secure: Um8o75MQIieSavIemF4ySA==
  JFROG_CLI_DIST_URL:
    secure: RIh0gGFDn2JAnLUEEqLsQrfLmtDrzDd5Qphea4gOE0Lu1Uz2Xa/y+D0Mld917gwy
  JFROG_CLI_XRAY_URL:
    secure: RIh0gGFDn2JAnLUEEqLsQnYytsZwN5ZAIw+0CHigBR3DTUVTl3QVus6IjkdAiFd1
  JFROG_CLI_PIPE_URL:
    secure: RIh0gGFDn2JAnLUEEqLsQsgqk3sWH5cf3KQBrQr401JR5ZN9+cgd1N/bYnI8p0Mk
  JFROG_CLI_PIPE_TOKEN:
    secure: sStoT/GxZjEl/toWXau6wanS9NdCTsTxApUZCE7TTt4Wp4lVUwg1OqzdwWNic4R9YnAu90VY+5F/vI7I6Ijl1V/GcSCFLSVEr03rJj7OfzRkt5+obiNNotiBR9cP7bKQrCCAf2044fOukKPrjvZW7cV2tFoBQP8TmetaVmogBk52BMNcC44+MsLmh060htRFroSVbBQ1YzMFfvsKND7t7M4DPaLW+NES2x8Z5yk6yihXl+caB2IHaa8RveDnjtG4/486K+hDXRzloF05pJzdPUVnNfE/Nxh5nWarOGBlx7hVEUTESYLUWcji8xsrK8cwxjRddG/XZaydy4RzHtNZCxyrzjtaW1Y1X/0sZBPW5oVDIdbnpT0y0lBd8xq45Yt8h6FUrAwouqUVPytliTyy5q2fMkP1+1eSGHHZ1fE8shfdC9+/srYWYnjCJZoAVS87Z9uel3Q4gT1MQHU3w/N1KDQD5gx6wUMZlMVsJ4TCe6bmtmqyRW+4gvJ+MnegKgZR4AvB37RlH0LXy+xbP2vx1oPsLRMzuEQzG1DswRKo9QGIfMp8pXdvkbIFY3nS8gAzlGzuvcs4XXRzi2DTcz1xsI4BGCSQMjE6b6woJcVC45WIjZhovlVzkpybM7LKXP1KeecVhcveO+EGYSn1oDCKDNho99czv5kPPb/EWOD/c4whf83y1L7+Dnx0YIj4I5ge4fIV25muTovfYIiOfCEDS6NnQCRSXeAp5HdgWwGlTLJYRoCcDhxn4HB1eJAFgUbAuTZAvDagF4SIkvMrlti43P2k1VJgS9lxrtZUPdXB5jPPz9icoDkvMnRMzuUeeZnYn0zVllnWCS0lB0IJDk3hcHOn9URjkSI56usRQgiz/YmHrzxt8Va4UUkXmGtUmKw+LLYDgclfZ1odu1J4NvgSvA==
  JFROG_CLI_PIPE_VCS_TOKEN:
    secure: tsVbG2tHaU2b8SbJRR6aOarEkCm4989ZOO6Dt0rADHfUVhsVCY14g9fzNdabICMH
  JFROG_CLI_PIPE_VCS_REPO:
    secure: CdI9LebqtweJ8CwmDSWnHnYIDOS0mqXkhsuJ8KY/MbldVzl7vGW+OhewnsF1m2kJ
  JFROG_CLI_PIPE_VCS_BRANCH:
    secure: hkOQt63VlMMUfvRj9cE6Ug==
  JFROG_CLI_ACCESS_TOKEN:
    secure: sStoT/GxZjEl/toWXau6wanS9NdCTsTxApUZCE7TTt4Wp4lVUwg1OqzdwWNic4R9YnAu90VY+5F/vI7I6Ijl1V/GcSCFLSVEr03rJj7OfzRkt5+obiNNotiBR9cP7bKQrCCAf2044fOukKPrjvZW7cV2tFoBQP8TmetaVmogBk52BMNcC44+MsLmh060htRFIP2WnZdiaQd0llF0xeqvMxKnomhZYi5D142t+14Bs6WeLqdaDcLBGZLT/EpfEu7y6xUXeSoMqI4nlYp/JcULIb0W9dTeZPrAFPA6mJXHIID1WnKBSL/mJszbqLRPRn2+uFxtDlikGzswVIuXiLtk2quczKJgOoH7PtUkv6ChRnErSEgfAq4r8F3mkjpvSmp0g1a5eyq+/8D8mOgopOjEZ4PwQtzw4Rfg1Enk0ra//adpYckQFSPw1omqHK8LPzDYpyk32aDnMIEyW9FPJF6IkX3Z6d2Dgseup3wD1/dJk9fDuJGr3uQCK0HC9uSjWeLIBFbTOZ9j8FIbdH0Xq2AqBeP3vwDtzMpoVEPqqNKGwVk1sabtjKoglDjWXfdqIqlDmdvK8oJL3KHEEaEy0gxbr1+6zrVq2Bj+ZUahvd8gHYmlkORDR0wN6NNPhfXmDnEGq8WU0efMIwjmHIg1mhUVYYGIsDMMgmwW+row+1sFOW+zmP3GtNKvPHyLEVVB3mWP5z8SeVve9MiIPm6JsihMfYnG0A93QNlzUsgdC78uqcA2SZ2jceOr6uxbuf6FeoHouMb0giiPl41YV6KpzNwdK0sH4ZarTGvquYrPSqDbrp67rEGJtTTyypzUoSeslMNCXzXS/aBphcB83M68bfSYk808hjRn+1UsdnXyL13LVm99NDv6z+imhJFH7IOXYfFAshqWKv2PiOjvUATn6cXuew==
  JFROG_CLI_ACCESS_URL:
    secure: RIh0gGFDn2JAnLUEEqLsQph5j1FANSk/QUtRJvh8kSedtCfYP5ytAdcGiOrPpY2a

  matrix:
    - VET:
      TEST_SUIT:
        go vet -v ./...
    - ARTIFACTORY_TESTS:
      TEST_SUIT:
        go test -v github.com\jfrog\jfrog-client-go\tests --timeout 0 --test.artifactory=true --rt.url="%JFROG_CLI_RT_URL%" --rt.user="%JFROG_CLI_RT_USER%" --rt.password="%JFROG_CLI_RT_PASSWORD%"
    - DISTRIBUTIONS_TESTS:
      TEST_SUIT:
        go test -v github.com\jfrog\jfrog-client-go\tests --timeout 0 --test.distribution=true --rt.url="%JFROG_CLI_RT_URL%" --ds.url="%JFROG_CLI_DIST_URL%" --rt.user="%JFROG_CLI_RT_USER%" --rt.password="%JFROG_CLI_RT_PASSWORD%"
    - XRAY_TESTS:
      TEST_SUIT:
        go test -v github.com\jfrog\jfrog-client-go\tests --timeout 0 --test.xray=true --rt.url="%JFROG_CLI_RT_URL%" --xr.url="%JFROG_CLI_XRAY_URL%" --rt.user="%JFROG_CLI_RT_USER%" --rt.password="%JFROG_CLI_RT_PASSWORD%"
    - PIPELINES_TESTS:
      TEST_SUIT:
        go test -v github.com\jfrog\jfrog-client-go\tests --timeout 0 --test.pipelines=true --pipe.url="%JFROG_CLI_PIPE_URL%" --pipe.accessToken="%JFROG_CLI_PIPE_TOKEN%" --pipe.vcsToken="%JFROG_CLI_PIPE_VCS_TOKEN%" --pipe.vcsRepo="%JFROG_CLI_PIPE_VCS_REPO%" --pipe.vcsBranch="%JFROG_CLI_PIPE_VCS_BRANCH%"
    - ACCESS_TESTS:
      TEST_SUIT:
        go test -v github.com\jfrog\jfrog-client-go\tests --timeout 0 --test.access=true --access.url="%JFROG_CLI_ACCESS_URL%" --access.token="%JFROG_CLI_ACCESS_TOKEN%"
  
install:
  - rmdir c:\go /s /q
  - appveyor DownloadFile https://storage.googleapis.com/golang/go%GOVERSION%.windows-amd64.msi
  - msiexec /i go%GOVERSION%.windows-amd64.msi /q
  - set PATH=%GOPATH%\bin;c:\Program Files\Go\bin;%PATH%
  - go version
  
 test_script:
  - "%TEST_SUIT%"
