image:
  - Visual Studio 2017

build: off
skip_tags: true
stack: go 1.11
clone_folder: c:\gopath\src\github.com\jfrog\jfrog-client-go
environment:
  GOPATH: c:\gopath
  GO111MODULE: on

  JFROG_CLI_RT_URL:
    secure: RIh0gGFDn2JAnLUEEqLsQnZ5H3XFWg1s+Qq8Z4i+Xu+FtQf6Tsu2AnfY4/6AaXJ8
  JFROG_CLI_RT_USER:
    secure: YEB5Wiv9a2vNpUhy+MfL+A==
  JFROG_CLI_RT_PASSWORD:
    secure: Um8o75MQIieSavIemF4ySA==

  matrix:
  - VET:
    TEST_SUIT:
      go vet github.com\jfrog\jfrog-client-go\tests
  - Client Tests:
    TEST_SUIT:
      go test -v github.com\jfrog\jfrog-client-go\tests --timeout 0 --rt.url="%JFROG_CLI_RT_URL%" --rt.user="%JFROG_CLI_RT_USER%" --rt.password="%JFROG_CLI_RT_PASSWORD%"

test_script:
  - "%TEST_SUIT%"
