name: "Static Analysis"
on: [ "push", "pull_request" ]
jobs:
  Static-Check:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Source
        uses: actions/checkout@v3
      - name: Install Go
        uses: actions/setup-go@v3
        with:
          go-version: 1.20.x
      - name: Static Code Analysis
        uses: dominikh/staticcheck-action@v1
        with:
          install-go: false

  GolangCI-Lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Source
        uses: actions/checkout@v3
      - name: Install Go
        uses: actions/setup-go@v3
        with:
          go-version: 1.19.x
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v3
        with:
          skip-cache: true

  
  Go-Sec:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Source
        uses: actions/checkout@v3
      - name: Install Go
        uses: actions/setup-go@v3
        with:
          go-version: 1.20.x
      - name: Install gosec
        run: curl -sfL https://raw.githubusercontent.com/securego/gosec/master/install.sh | sh -s -- -b $(go env GOPATH)/bin
      - name: Run gosec
        run: gosec -exclude=G204,G301,G302,G304,G306 -tests -exclude-dir=\.*test\.* ./...
